*/.DS_Store
.DS_Store
/dist
/log/*
!log/.keep
/data/*
!/data/.keep
/.vscode
/node_modules

src/config/dev_config.ts
src/config/dev_config.ts
src/config/prod_config.ts
src/test/
public/
src/config/dev_center_config.ts
src/config/dev_region_config.ts
